---
layout: base.njk
---

<header class="post-header">
    <h2>{{title}}</h2>
    <div class="byline">
        <p>Written by {{author}}</p>
    </div>
</header>

<div class="post-main">
{{ content | safe }}
</div>

<footer class="post-footer">
{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}
{% set currentPost = collections.post | getCollectionItem(page) %}
{% if nextPost %}

{% else %}
    {% set nextPost = collections.post[0] %}
{% endif %}

{% if previousPost %}

{% else %}
    {% set previousPost = collections.post[collections.post.length-1] %}
{% endif %}

<div class="next-prev-buttons">
    {% if previousPost %}
        <button class="btn"><a href="{{ previousPost.url }}"><span>&larr;</span> {{ previousPost.data.title }} </a></button>
    {% endif %}
    
    {% if nextPost %} 
         <button class="btn"><a href="{{ nextPost.url }}">{{ nextPost.data.title }} <span>&rarr;</span></a></button>
    {% endif %}    
</div>



<h3>tags:</h3></tags:> {% for tag in tags %}
<a href="/tags/{{tag}}/">{{tag}}</a> &nbsp;|&nbsp;
{% endfor %}

</ul>

</footer>